-------------------- GENERAL STYLING */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -------------------- BODY AND MAIN CONTAINER */
body {
    padding: 20px;
}

.mainContainer {
    height: 100vh;
    width: 100vw;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

/* -------------------- HEADER (Search Bar) */

/* -------------------- WEATHER CARD */
header {
    width: 100%;
    max-width: 100vw;
    text-align: center;
}

.searchBarComponent {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}
.searchBarComponent input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 2px grey solid;
    padding: 2px 5px;
}
#searchButton {
    display: none;
}

.autocompleteSearchBarContainer {
    position: absolute;
    border-radius: 0 0 5px 5px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.autocompleteSearchResults {
    width: 100%;
    height: 100%;
    background-color: white;
    list-style: none;
    cursor: pointer;
}
.autocompleteSearchResults:last-child {
    border-radius: 0 0 5px 5px;
}



/* .mainContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 30vw;
    height: 100%;
    min-width: 500px;
    max-width: 800px;
    padding: 30px;
    border-radius: 20px;
}

.weatherCardContainer>*,
.currentWeatherContainer {
    margin-bottom: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.searchBarComponent {
    display: flex;
    height: 100%;
    width: 50%;
    min-height: 20px;
    max-height: 30px;
    min-width: 200px;
    align-items: center;
    position: relative;
}
.searchBarContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.autocompleteSearchResults {
    width: 100%;
    height: 100%;
    background-color: white;
    cursor: pointer;
}
.autocompleteSearchResultsContainer {
    display: none;
    position: absolute;
    top: 30px;
    list-style: none;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#search {
    border-radius: 5px;
    min-height: 20px;
    height: 80%;
    width: 100%;
    border: solid lightgrey 3px;
    padding: 5px 10px;
}
#searchButton {
    opacity: 0;
}

.weatherCardContainer{
    position: relative;
}
#metricChange {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: 500;
    font-size: 20px;
    right: 0;
    top: 0;
}

.currentAndForecast {
    display: flex;
    align-items: center;
}

.currentWeatherContainer {
    display: flex;
    align-items: center;
    width: 40%;
    height: 10vh;
    min-width: 300px;
    min-height: 100px;
    margin-right: 20px;
}
.currentTempAndIcon {
    display: flex;
    margin-right: 30px;
}
#currentTemp {
    position: relative;
    font-size: 60px;
    font-weight: 500;
}
.currentMetric {
    position: absolute;
    top: 100;
    font-size: 20px;
}

.forecastContainer {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.forecast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    min-width: 50px;
    max-width: 80px;
    min-height: 50px;
    max-height: 80px;
}
.forecastTemps {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.weatherIcon {
    margin-right: 10px;
}